<div class="h-[calc(100vh-40px)] overflow-hidden">
    <as-split #splitPEl direction="horizontal" restrictMove="true" gutterSize="2" (dragEnd)="dragEnd($event)">
        <div *asSplitGutter="let isDragged = isDragged" class="h-full w-full dark:bg-[rgb(43,43,43)] hover:bg-blue-600"
            [class.dragged]="isDragged">
        </div>
        <as-split-area #leftSplitArea size="20">
            <div class="flex flex-col h-full w-full dark:bg-[rgb(30,30,30)] overflow-hidden min-w-[180px]">
                <div
                    class="w-full relative  h-9 flex justify-end items-center pr-1 drop-shadow-sm  border-b-[1px] border-solid border-[rgb(220,220,220)] dark:border-[rgb(43,43,43)]">
                    <div class=" absolute left-2">
                        <label
                            class=" dark:text-[rgb(189,189,189)] font-mono select-none  text-black  text-[13px]">资源管理器</label>
                    </div>
                    <div class="flex">
                        <app-codicon iconName="new-file" (click)="addFile()" fontSize="16px"></app-codicon>
                        <div class="w-2"></div>
                        <app-codicon iconName="refresh" (click)="refresh($event)" fontSize="16px"></app-codicon>
                    </div>
                </div>
                <div class="overflow-auto">
                    @for (file of fileList; track $index) {
                    <div (contextmenu)="fileContextmenu($event, file)" #fileItem
                        class="dark:text-[rgb(189,189,189)] hover:bg-[rgb(224,226,239)] hover:dark:bg-[rgb(48,48,53)]  select-none  text-black  text-[14px] pl-2 flex gap-1 items-center {{file.selected?'file-selected':''}}"
                        (click)="fileClick($event, file)">
                        <div class=" w-[13px]"> <img src="assets/jsicon.svg" class="w-3" /></div> <label
                            class="text-[13px]">{{file.name}}</label>
                    </div>
                    }
                </div>
            </div>
        </as-split-area>

        <as-split-area>
            <div class="h-[calc(100vh-40px)] w-full">
                <as-split #splitEl direction="vertical" restrictMove="true" gutterSize="2" (dragEnd)="dragEnd($event)">
                    <div *asSplitGutter="let isDragged = isDragged"
                        class="h-full w-full dark:bg-[rgb(43,43,43)] hover:bg-blue-600" [class.dragged]="isDragged">

                    </div>
                    <as-split-area>
                        <app-monaco-editor [id]="xlsId" #monacoEditor></app-monaco-editor>
                    </as-split-area>

                    <as-split-area #bottomSplitArea size="35">
                        <app-terminal #terminalComponent (runClick)="runClick($event)"></app-terminal>
                    </as-split-area>
                </as-split>
            </div>
        </as-split-area>

    </as-split>


    <app-dialog #fileDialog [title]="'add'">

        <div class="dialog-body">
            <form [formGroup]="fileForm">
                <input type="text" formControlName="id" style="display: none;">
                <div class="flex items-center w-full">
                    <app-my-input class="w-full" formControlName="name" placeholder="请输入文件名称" label="名称"></app-my-input>
                </div>
                <div class="h-7">

                </div>
                <div class="flex items-center w-full">
                    <app-my-select-file class="w-full" [readonly]="true" formControlName="xlxTemplate" placeholder=""
                        label="文件"></app-my-select-file>
                </div>
            </form>
        </div>
        <div class="dialog-bottons">
            <button (click)="saveClick()" type="button"
                class="bg-[var(--app-primary-color)]  text-white rounded-md  text-[12px] px-6 py-1.5 disabled:bg-[var(--app-button-read-only-bg)] disabled:cursor-not-allowed"
                [disabled]="!fileForm.valid">保存</button>
        </div>

    </app-dialog>

</div>